$buttonPadding: 5px;
$buttonBg: #337ab7;
$buttonColor: white;
$buttonBorderColor: darkgrey;
$cursor: pointer;
$headerLabelBg: #d8d8d8;
$color: #707070;
$tableBg: #fff;
$activeBg: #e2e2e2;
$fontWeight: 600;

.calendar-navbar {
  min-height: 73px;
  z-index: 100;
}

.calendar-navbar-header {
  position: relative;
  width: 100%;
  min-height: 40px;
  display: table;
  text-align: center;

  span {
    display: table-cell;
    vertical-align: middle;
    font-weight: $fontWeight;
  }
  .month-year {
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $headerLabelBg;
    color: $color;
    font-weight: $fontWeight;
    font-size: medium;
    border-radius: 0;
  }
  /*#region Nav buttons*/
  .button {
    min-width: 70px;
    height: 100%; //Set height to container(header height)
    text-align: center;
    position: inherit;
    cursor: $cursor;
    background-color: $buttonBg;
    color: $buttonColor;
    font-size: small;
    &:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#2087bb), to($buttonBg));
    }
  }

  .left.button {
    left: 0;
    border-right: 1px solid $buttonBorderColor;
  }

  .right.button {
    //top: 0;
    right: 0;
    border-left: 1px solid $buttonBorderColor;
  }
  /*#endregion*/
}

.calendar-navbar-body {
  table.days {
    background: $tableBg;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    td {
      width: auto;
      //width:30px;
      //height:30px;
      line-height: 40px;
      //text-transform: uppercase;
      font-size: 90%;
      font-weight: $fontWeight;
      color: $color;
      text-align: center;
      border: 1px solid #e6e6e6;
      cursor: $cursor;

      &:not(:last-child) {
        //border-right: 1px solid #fff;
      }
      &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#e1e1e1));
      }
    }
    td.today {
      background: rgba(255, 217, 0, 0.51);
    }
    td.active {
      background: $activeBg;
    }

  }
}

.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}