.calendar-navbar {
    min-height: 73px;
    z-index: 100;
}

.calendar-navbar-header {
    position: relative;
    width: 100%;
    min-height: 40px;
    display: table;
    text-align: center;
    /*#region Nav buttons*/
    /*#endregion*/
}

.calendar-navbar-header span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
}

.calendar-navbar-header .month-year {
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #d8d8d8;
    color: #707070;
    font-weight: 600;
    font-size: medium;
    border-radius: 0;
}

.calendar-navbar-header .button {
    min-width: 70px;
    height: 100%;
    text-align: center;
    position: inherit;
    cursor: pointer;
    background-color: #337ab7;
    color: white;
    font-size: small;
}

.calendar-navbar-header .button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#2087bb), to(#337ab7));
}

.calendar-navbar-header .left.button {
    left: 0;
    border-right: 1px solid darkgrey;
}

.calendar-navbar-header .right.button {
    right: 0;
    border-left: 1px solid darkgrey;
}

.calendar-navbar-body table.days {
    background: #fff;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.calendar-navbar-body table.days td {
    width: auto;
    line-height: 40px;
    font-size: 90%;
    font-weight: 600;
    color: #707070;
    text-align: center;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.calendar-navbar-body table.days td:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#e1e1e1));
}

.calendar-navbar-body table.days td.today {
    background: rgba(255, 217, 0, 0.51);
}

.calendar-navbar-body table.days td.active {
    background: #e2e2e2;
}

.no-selection {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

/*# sourceMappingURL=calendar-navbar.css.map */
